
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1cafd;
    color: #333;
}

button {
    background-color: #270f5e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}